{% extends 'base.html' %}
{% load static %}

{% block title %} Scorecard | Organizational Capacity {% endblock title%}

{% block content %}
    {% include 'header.html' %}
    {% include 'selected_menu_and_role.html'%}
    <div class="container-fluid">
        <div class="row gx-1">
            <div class="sidebar col-md-2 p-4">
              {% include 'sidebar.html' %}
            </div>
            <div class="main col-md-10 p-4">
              <h5>{{ request.GET.perspective}}</h5>
              {% include 'mypar/my_par_table.html'%}
            </div>
        </div>
    </div>
{% endblock content %}