{% extends 'base.html' %}

{% block title %} Scorecard {% endblock title%}

{% block content %}
    {% include 'header.html' %}
    <div class=" col-md-12">
        <div class="row">
            <div class="sidebar col-md-2">
              <div class="awp-item" id="scorecard"> 
                <p>Scorecard</p>
              </div>
              
              <div class="awp-item" id="annual-workplan">
                <p>Annual Workplan</p>
              </div>
            </div>
            <div class="col-md-10">
               
            </div>
        </div>
    </div>
{% endblock content %}